<%- include('partials/header') %>

<div class="container jumbotron text-center">
    <h1>The Fish page!</h1>
    <a href="/critters" class="btn btn-primary btn-md">Go back</a>
</div>

<div class="container mb-3">
    <div class="row justify-content-around">
        <div class="col-4 col-lg-2 text-center">   
            <img src="../assets/Smallest.png" alt="Smallest fish">
            <p>(1) Smallest</p>
        </div>
        <div class="col-4 col-lg-2 text-center">   
            <img src="../assets/Small.png" alt="Small fish">
            <p>(2) Small</p>
        </div>
        <div class="col-4 col-lg-2 text-center">   
            <img src="../assets/MediumSmall.png" alt="Medium small fish">
            <p>(3/4) Medium</p>
        </div>
        <div class="col-4 col-lg-2 text-center">   
            <img src="../assets/Large.png" alt="Large fish">
            <p>(5) Large</p>
        </div>
        <div class="col-4 col-lg-2 text-center">   
            <img src="../assets/Huge.png" alt="Huge fish">
            <p>(6) Huge</p>
        </div>
        <div class="col-4 col-lg-2 text-center">   
            <img src="../assets/withFin.png" alt="Fish with fin">
            <p>(s.) With fin</p>
        </div>    
    </div>
</div>  

<div class="container mb-3">
    <div class="row justify-content-around">
        <form class='col-4 text-center formButton' action="/critters/fish?sortby=name" method='GET'>
            <button class='button p-2' type='hidden' name='sortby' value='name'>Sort by name</button>
        </form>
        <form class='col-4 text-center' action="/critters/fish?sortby=location" method='GET'>
            <button class='button p-2' type='hidden' name='sortby' value='location'>Sort by location</button>
        </form>
        <form class='col-4 text-center' action="/critters/fish?sortby=price" method='GET'>
            <button class='button p-2' type='hidden' name='sortby' value='price'>Sort by price</button>
        </form>
    </div>
</div>    

<div class="container card-holder">
    <div class='row' style='flex-wrap:wrap;'>
        <% for (let i = 0; i < fish.length; i++) { %>
            <div class="col-xl-3 col-md-4 col-6">
                <a class='text-decoration-none' href="/critters/<%= fish[i].name %>">
                    <div class="card text-center">
                        <h5 class="card-title"><%= fish[i].name.charAt(0).toUpperCase() + fish[i].name.slice(1).replace('_', ' ') %></h5>                        
                        <div class="card-body">
                            <img src="<%= fish[i].icon %>" class="card-img-top" alt="...">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%= fish[i].location %></li>
                            <li class="list-group-item"><%= fish[i].time === '' ? 'All Day' : fish[i].time %></li>
                            <li class="list-group-item"><%= fish[i].price %> bells</li>
                            <li class="list-group-item"><%= fish[i].shadowSize %></li>
                        </ul>
                    </div>
                </a>
            </div>
        <% } %>   
    </div>  
</div>




<%- include('partials/footer') %>