<%- include('partials/header') %>

<div class="container">
    <header class="jumbotron mb-2">
        <div class="container">
            <h1>Welcome to our Critters Home!</h1>
            <p>View our lovely selection of bugs and fish!</p>            
            <a href="/">Go back.</a> 
        </div>               
    </header>
</div>

<div class="container mb-1">
    <div class="row justify-content-around">
        <a href="/critters/fish" class='col-md-3 mb-2'><button class='btn btn-primary btn-lg selector'>Fish</button></a>   
        <a href="/critters/bugs" class='col-md-3 mb-2'><button class='btn btn-success btn-lg selector'>Bugs</button></a>   
        <a href="/critters/seaCreatures" class='col-md-3 mb-2'><button class='btn btn-info btn-lg selector'>Sea</button></a>    
    </div>
</div>

    <!-- Make functional -->
<!-- <div class="container">
    <div class="row justify-content-center">
        <form action="GET">
            <div class="form-inline text-center my-auto">
                <input class='form-control col-md-8 col-xs-12' type="text" name='search' placeholder='search'>
                <button href ='#' class='col-md-4 col-xs-12 btn btn-lg btn-dark float-right'>Submit!</button>
            </div>  
        </form>    
    </div>   
</div> -->

<h3 class='text-center'>New Critters this month</h3>

<div class="container card-holder">
    <div class="row" style='flex-wrap:wrap;'>
        <% (Object.values(newCritters)).forEach((type) => { %>
            <% for (let i = 0; i < type.length; i++) { %>
                <div class="col-xl-3 col-md-4 col-6">
                    <a class='text-decoration-none' href="/critters/<%= type[i].name %>">
                        <div class="card text-center">
                            <h5 class='card-title'><%= type[i].name.charAt(0).toUpperCase() + type[i].name.slice(1).replace(/_/g, ' ') %></h5>
                            <div class="card-body">
                                <img src="<%= type[i].icon %>" alt="card-img-top">
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><%= type[i].location %></li>
                                <li class="list-group-item"><%= type[i].time === '' ? 'All Day' : type[i].time %></li>
                                <li class="list-group-item"><%= type[i].price %> bells</li>
                            </ul>
                        </div>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>

<h3 class='text-center'>Critters leaving this month</h3>

<div class="container card-holder">
    <div class="row" style='flex-wrap:wrap;'>
        <% (Object.values(leavingCritters)).forEach((type) => { %>
            <% for (let i = 0; i < type.length; i++) { %>
                <div class="col-xl-3 col-md-4 col-6">
                    <a class='text-decoration-none' href="/critters/<%= type[i].name %>">
                        <div class="card text-center">
                            <h5 class='card-title'><%= type[i].name.charAt(0).toUpperCase() + type[i].name.slice(1).replace(/_/g, ' ') %></h5>
                            <div class="card-body">
                                <img src="<%= type[i].icon %>" alt="card-img-top">
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><%= type[i].location %></li>
                                <li class="list-group-item"><%= type[i].time === '' ? 'All Day' : type[i].time %></li>
                                <li class="list-group-item"><%= type[i].price %> bells</li>
                            </ul>
                        </div>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>











<%- include('partials/footer') %>