<%- include('partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to our Critters page!</h1>
            <p>View our lovely selection of bugs and fish!</p>
            <p>
                <a class='btn btn-lg btn-primary'>Let's see em!</a>
            </p>
            <a href="/">Go back.</a> 
        </div>               
    </header>

    <div class='selector'>
        <a href="" class="col-md-4 col-xs-12 btn btn-primary btn-lg">Fish</a>
        <a href="" class="col-md-4 col-xs-12 btn btn-success btn-lg">Bugs</a>
        <a href="" class="col-md-4 col-xs-12 btn btn-info btn-lg">Sea Creatures</a> 
    </div>

    <div>
        <form action="GET">
            <div class="form-inline text-center">
                <input class='form-control' type="text" name='search' placeholder='search'>
                <button class='btn btn-lg btn-dark float-right'>Submit!</button>
            </div>  
        </form>
    </div>    

    <div class='row' style='flex-wrap:wrap;'>
        <% for (let i = 0; i < 16; i++) { %>
            <div class="col-md-3 col-sm-6">
                <a href="/critters/<%= fish[i].name %>">
                    <div class="thumbnail">
                        <img src="<%= fish[i].icon %>" alt="Icon">
                        <div class="caption text-center">
                            <h4><%= fish[i].name.charAt(0).toUpperCase() + fish[i].name.slice(1).replace('_', ' ') %></h4>
                            <p><%= fish[i].location %></p>
                            <% if (fish[i].time === '') { %>
                                <p>All day</p>
                            <% } else { %>
                                <p><%= fish[i].time %></p>
                            <% } %>                            
                        </div>
                    </div>
                </a>
            </div>
        <% } %>

        
        
    </div>   
    
</div>

<%- include('partials/footer') %>