<%- include('partials/header') %>

<div class="container jumbotron text-center">
    <h1>The Sea page!</h1>
    <a href="/critters" class="btn btn-primary btn-md">Go back</a>
</div>

<div class="container mb-3">
    <div class="row justify-content-around">
        <form class='col-4 text-center formButton' action="/critters/seaCreatures?sortby=name" method='GET'>
            <button class='button p-2' type='hidden' name='sortby' value='name'>Sort by name</button>
        </form>
        <form class='col-4 text-center' action="/critters/seaCreatures?sortby=price" method='GET'>
            <button class='button p-2' type='hidden' name='sortby' value='price'>Sort by price</button>
        </form>
    </div>
</div>

<div class="container card-holder">
    <div class='row' style='flex-wrap:wrap;'>
        <% for (let i = 0; i < seaCreatures.length; i++) { %>
            <div class="col-xl-3 col-md-4 col-6">
                <a class='text-decoration-none' href="/critters/seaCreatures/<%= seaCreatures[i].name %>">
                    <div class="card text-center">
                        <h5 class="card-title"><%= seaCreatures[i].name.charAt(0).toUpperCase() + seaCreatures[i].name.slice(1).replace(/_/g, ' ') %></h5>                        
                        <div class="card-body">
                            <img src="<%= seaCreatures[i].icon %>" class="card-img-top" alt="...">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%= seaCreatures[i].time === '' ? 'All Day' : seaCreatures[i].time %></li>
                            <li class="list-group-item"><%= seaCreatures[i].price %> bells</li>
                        </ul>
                    </div>
                </a>
            </div>
        <% } %>   
    </div>  
</div>


<div class="container">
    <div class='row' style='flex-wrap:wrap;'>
        <% for (let i = 0; i < seaCreatures.length; i++) { %>
            <div class="col-md-3 col-sm-6">
                <a href="/critters/seaCreatures/<%= seaCreatures[i].name %>">
                    <div class="thumbnail">
                        <img src="<%= seaCreatures[i].icon %>" alt="Icon">
                        <div class="caption text-center">
                            <h4><%= seaCreatures[i].name.charAt(0).toUpperCase() + seaCreatures[i].name.slice(1).replace('_', ' ') %></h4>
                            <p><%= seaCreatures[i].location %></p>
                            <% if (seaCreatures[i].time === '') { %>
                                <p>All day</p>
                            <% } else { %>
                                <p><%= seaCreatures[i].time %></p>
                            <% } %>                            
                        </div>
                    </div>
                </a>
            </div>
        <% } %>   
    </div>  
</div>

<%- include('partials/footer') %>